@import url("https://fonts.googleapis.com/css2?family=Harmattan&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Harmattan", sans-serif;
  background: url("./load.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  color: white;
}

#welcome{
 text-align: center;
 margin-top: 110px;
 color: rgb(0, 183, 255);
 font-family: 'IBM Plex Mono', monospace;
 font-weight: bolder;
 font-size: 30px;
 display: none;
}
#box{
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 20px;
  bottom: 50px;
  color: rgb(0, 183, 255);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bolder;
  font-size: 20px;
  
}
